body {
  background-color: #f2f2f2; }

.clean-padding {
  padding: 0 !important; }

.clean-margin {
  margin-bottom: 0; }

.page-wrapper {
  font-family: 'Roboto', sans-serif; }

.nav-bar {
  background-color: #d72f7a;
  width: 100%;
  padding: 20px 50px;
  box-shadow: none; }
  .nav-bar .logo {
    display: inline-block; }
  .nav-bar .item-nav {
    display: inline-block;
    position: static;
    font-weight: 700;
    font-size: 35px; }
    .nav-bar .item-nav a {
      font-size: inherit; }
  .nav-bar .item-nav, .nav-bar .logo {
    width: 20%; }
  .nav-bar .nav-list {
    width: 100%; }

.title {
  padding-top: 30px;
  margin-bottom: 20px;
  font-size: 3.4rem;
  font-weight: 700;
  text-align: center;
  color: #04a2d2; }

.about-me .about-img {
  padding: 50px 30px; }
  .about-me .about-img img {
    width: 100%;
    height: auto; }
.about-me .about-text {
  color: #04a2d2;
  font-weight: 600;
  line-height: 1.2em;
  padding: 50px 30px;
  font-size: 20px; }
  .about-me .about-text .title h2 {
    margin-bottom: 20px;
    margin-bottom: 50px; }

.skills .item-skills {
  width: 310px; }
.skills .content-item {
  height: 170px;
  margin: 20px;
  background-color: #5FD6A8;
  text-align: center; }
  .skills .content-item .item {
    font-size: 50px;
    font-weight: 800;
    width: 240px;
    position: relative;
    top: 35%;
    color: white;
    text-shadow: 3px 3px 4px #FF19C9; }

.work {
  background-color: #A1DAC4;
  padding-top: 30px; }
  .work .title {
    margin-bottom: 16%; }
  .work .galery {
    margin-top: 20px; }
    .work .galery .carousel {
      overflow: visible;
      height: 600px;
      perspective: 100px;
      -webkit-perspective: 100px; }
    .work .galery .carousel-item {
      height: auto;
      width: 70%; }
    .work .galery .item {
      height: auto;
      width: 100%;
      background-color: transparent;
      box-shadow: 0px 0px 20px #FF19C9; }
      .work .galery .item.alentando:before {
        content: "";
        width: 200px;
        height: 200px;
        background-image: url("../img/alentando.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: 4;
        display: inline-block; }
      .work .galery .item.americas:before {
        content: "";
        width: 190px;
        height: 42px;
        background-image: url("../img/americas.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: 4;
        display: inline-block;
        vertical-align: middle; }
      .work .galery .item.tribuno:before {
        content: "";
        width: 190px;
        height: 45px;
        background-image: url("../img/tribuno.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: 4;
        display: inline-block;
        vertical-align: middle; }
      .work .galery .item.ratingcero:before {
        content: "";
        width: 190px;
        height: 26px;
        background-image: url("../img/ratingcero.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: 4;
        display: inline-block; }
      .work .galery .item.blablax:before {
        content: "";
        width: 190px;
        height: 70px;
        background-image: url("../img/blablax.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: 4;
        display: inline-block; }
      .work .galery .item.uno:before {
        content: "";
        width: 200px;
        height: 200px;
        background-image: url("../img/uno.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: 4;
        display: inline-block; }

.contact {
  margin-bottom: 30px; }
  .contact .contact-item {
    display: inline-block;
    width: 30%;
    text-align: center; }
    .contact .contact-item span::before {
      font-size: 4rem; }
  .contact .info {
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    margin-top: 50px;
    color: #04a2d2; }
  .contact .contact-information {
    margin-top: 110px; }

/*# sourceMappingURL=style.css.map */
